/*Home-page*/
body{
    background-image: url(images/home/HOME.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.home-text{
    position: absolute;
    display: grid;
    place-items: center;
    padding-top:250px ;
    padding-left: 470px;
    color: white;
    font-size: 30px;
    font-family: georgia, serif;
}

*{
    text-decoration: none;
}

.navbar{
    font-family: 'Gill Sans', sans-serif;
    padding-right: 15px;
    padding-left: 15px;
}

.navdiv{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li{
    list-style: none;
    display: inline-block;
}

ul{
    padding-left: 1000px;
}

li a{
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin-right: 20px;
    border: 2px solid white;
    padding: 3px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

li a:hover{
    background-color: white;
    color: black;
}

.home-text button{
    background-color: none;
}

.button{
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn{
    border: 2px solid white;
    border-radius: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: large;
    color: white;
    font-weight: bold;
    transform: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover{
    background-color: white;
    color: black;
}




/*Phones-page*/
/*Phones-1*/
.container_1{
    width: 25%;
    margin: 10px auto;
    padding-left: 50px;
    position: absolute;
    top: 12%;
}

.container_1::before{
    content: "";
    position: absolute;
    top: 0;
    width: 384px;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.carousel_1{
    border: 5px solid white;
    overflow: hidden;
    position: relative;
}

img.blck_1{
    padding-top:25px;
    margin-top: 15px;
    margin-left: -50px;
    padding-bottom: 5px;
    padding-right: 10px;
    position: relative;
}

.text_1{
    color: white;
    font-weight: bold;
    font-size: larger;
    padding-left: 95px;
    padding-bottom: 20px;
}



/*Phones-2*/
.container_2{
    width: 25%;
    margin: 10px auto;
    padding-left: 585px;
    position: absolute;
    top: 12%;
}

.container_2::before{
    content: "";
    position: absolute;
    top: 0;
    width: 384px;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.carousel_2{
    border: 5px solid white;
    overflow: hidden;
    position: relative;
}

img.blck_2{
    padding-top:25px;
    margin-top: 15px;
    margin-left: -50px;
    padding-bottom: 5px;
    padding-right: 10px;
    position: relative; 
}

.text_2{
    color: white;
    font-weight: bold;
    font-size: larger;
    padding-left: 95px;
    padding-bottom: 20px;
}



/*Phones-3*/
.container_3{
    width: 25%;
    margin: 10px auto;
    padding-left: 1100px;
    position: absolute;
    top: 12%;
}

.container_3::before{
    content: "";
    position: absolute;
    top: 0;
    width: 384px;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.carousel_3{
    border: 5px solid white;
    overflow: hidden;
    position: relative;
}

img.blck_3{
    padding-top:25px;
    margin-top: 15px;
    margin-left: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
    position: relative; 
}

.text_3{
    color: white;
    font-weight: bold;
    font-size: larger;
    padding-left: 95px;
    padding-bottom: 20px;
}